#top {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    text-align:left;
}

#bottom {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align:left;
}

#left {
    float: left;   
    background-color: #FFFFFF;
    position: relative;
    padding: 5px;
    width: 200px;    
    text-align:left;
}

#right {
    float: right;    
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    width: 100px;
    text-align:left;
}

#content {     
    background-color: #FFFFFF;
    padding: 5px;   
    margin: 0px 120px 0px 220px;
    text-align:left;
}

